<div class="mini_gap"></div>

<div class="sec_descripcion">

	<p>El Polideportivo Aranjuez es visitado semanalmente por diferentes grupos organizados que activan distintas actividades.</p>

	<p>Se realizan cerca de 15 disciplinas deportivas diferentes en una misma semana!</p>

</div>

<div id="grilla_amigos" class="row">
	
	<div class="col-xs-6 col-md-3">

		<a href="">

			<div class="ficha_amigo">

				<img src="images/AMIGOS/ROLLER.png">

				<h4>Patines Dinamita Roller Derby</h4>

			</div>

		</a>

	</div>

	<div class="col-xs-6 col-md-3">

		<a href="">

			<div class="ficha_amigo">

				<img src="images/AMIGOS/FERIA-VERDE.png">

				<h4>Feria Verde</h4>

			</div>

		</a>

	</div>

	<div class="col-xs-6 col-md-3">

		<a href="">

			<div class="ficha_amigo">

				<img src="images/AMIGOS/clubcanino.png">

				<h4>Patines Dinamita Roller Derby</h4>

			</div>

		</a>

	</div>

	<div class="col-xs-6 col-md-3">

		<a href="">

			<div class="ficha_amigo">

				<img src="images/AMIGOS/clubcanino.png">

				<h4>Patines Dinamita Roller Derby</h4>

			</div>

		</a>

	</div>

	<div class="col-xs-6 col-md-3">

		<a href="">

			<div class="ficha_amigo">

				<img src="images/AMIGOS/clubcanino.png">

				<h4>Patines Dinamita Roller Derby</h4>

			</div>

		</a>

	</div>

	<div class="col-xs-6 col-md-3">

		<a href="">

			<div class="ficha_amigo">

				<img src="images/AMIGOS/clubcanino.png">

				<h4>Patines Dinamita Roller Derby</h4>

			</div>

		</a>

	</div>

	<div class="col-xs-6 col-md-3">

		<a href="">

			<div class="ficha_amigo">

				<img src="images/AMIGOS/clubcanino.png">

				<h4>Patines Dinamita Roller Derby</h4>

			</div>

		</a>

	</div>



</div>