<div class="mini_gap"></div>

<div class="panel-group" id="accordion_ElPoli" role="tablist" aria-multiselectable="true">

	<div class="panel panel-default">

		<div class="panel-heading" role="tab" id="heading_ubicacion">

			<h4 class="panel-title">

				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_ElPoli" href="#collapse_ubicacion" aria-expanded="false" aria-controls="collapse_ubicacion">

					<i class="fa fa-fw fa-map-marker"></i> UBICACIÓN 

				</a>

			</h4>

		</div>

	    <div id="collapse_ubicacion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_ubicacion">

		    <div class="row panel-body">

		        <div class="col-md-6 col-lg-4">

					<img class="full_width" src="images/POLI/MAPA.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		        	<div class="mini_gap"></div>

					<p>
						El Parque Polideportivo Aranjuez es un espacio privilegiado dedicado al deporte y la recreación de la población del  Distrito Carmen.  Se ubica 100 metros al Oeste  del Centro Educativo México, en el sector Noreste de este Distrito.</p>

					<p>
						Su condición topográfica en forma de 'olla' lo protege y  aísla del trajín urbano.   Su gran cantidad de área verde lo convierte en un verdadero pulmón capitalino que ofrece a quienes le visitan  un espacio tranquilo, natural y de gran colorido,  único, dentro del casco urbano.</p>

					<p>
						En su sector norte limita con el Río Torres, donde vecinos y gobierno han conformado un espacio verde ahora convertido en bosque, que viene  ser el inicio del Parque Lineal del Torres.</p>

				</div>

		    </div>

	    </div>

	</div>

	<div class="panel panel-default">

	    <div class="panel-heading" role="tab" id="heading_administracion">

			<h4 class="panel-title">
				
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_ElPoli" href="#collapse_administracion" aria-expanded="false" aria-controls="collapse_administracion">

					<i class="fa fa-fw fa-users"></i> ADMINISTRACIÓN 
	        
				</a>
	      
			</h4>
	    
	    </div>

	    <div id="collapse_administracion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_administracion">

	    	<div class="panel-body row">

		        <div class="col-md-6 col-lg-4">

					<img class="full_width" src="images/POLI/ADMIN-logo.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		    		<div class="mini_gap"></div>

		    		<p>
		    			El  Polideportivo es administrado por el <strong>Comité Cantonal de Deportes y Recreación de San José</strong>, instancia adscrita a la <strong>Municipalidad de San José</strong>. Se financia con recursos de alquileres de las instalaciones y aportes municipales al Comité Cantonal de Deportes y Recreación de San José para el pago de los salarios, servicios e inversiones. 
		    		</p>

		    		<p>
		    			Recibe además  colaboración de vecinos quienes trabajando ad-honorem han constituido la <strong>Asociación Parque Polideportivo Aranjuez</strong>, para velar por el mejoramiento y mantenimiento de las instalaciones así como gestionar proyectos mayores y apoyar u organizar actividades deportivas,  culturales o ambientales.
		    		</p>

		    		<h5>
		    			<a target='_blank' href='https://www.facebook.com/sanjosedeporteypaz'>
		    			<i class="fa fa-facebook-square"></i> Comité Cantonal de Deportes y Recreación de San José</a>
		    		</h5>

		    		<h5>
		    			<a target='_blank' href='http://www.msj.go.cr'>
		    			<img src='http://polideportivoaranjuez.org/IMG/ICONS/MUNI-LOGO.png' width='30px'/> &nbsp;&nbsp;Municipalidad de San José</a>
					</h5>

				</div>
	    	
	      </div>

	    </div>

	  </div>

	  <div class="panel panel-default">

	    <div class="panel-heading" role="tab" id="heading_instalaciones">

			<h4 class="panel-title">
				
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_ElPoli" href="#collapse_instalaciones" aria-expanded="false" aria-controls="collapse_instalaciones">

					<i class="fa fa-fw fa-road"></i> INSTALACIONES 
	        
				</a>
	      
			</h4>
	    
	    </div>

	    <div id="collapse_instalaciones" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_instalaciones">

	    	<div class="panel-body row">

		        <div class="col-md-6 col-lg-4">

		    		<div class="mini_gap"></div>

					<img class="full_width" src="images/POLI/INSTALACIONES-full.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		    		<div class="mini_gap"></div>

		    		<ul class="fa-ul"> 

		    			<li><i class="fa-li fa fa-caret-right"></i>Cancha de fútbol reglamentaria con iluminación nocturna </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Gimnasio techado y abierto </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Cancha multiusodescubierta </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Canchita de mejengueros </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Pista de atletismo no reglamentaria </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Escalinatas de acceso y ejercitación </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Vestidores con servicios sanitarios </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Kiosko para eventos </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Base Policial PRAD de la Fuerza Pública </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Salas </span>en planta alta del Edificio Multiuso </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Áreas de parqueo </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Áreas de play ground</li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Senderos para caminatas </li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Áreas verdes dedicadas a la ornamentación y forestación </li>

		    		</ul>

				</div>
	    	
	      </div>

	    </div>

	  </div>

	  <div class="panel panel-default">

	    <div class="panel-heading" role="tab" id="heading_utilizacion">

			<h4 class="panel-title">
				
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_ElPoli" href="#collapse_utilizacion" aria-expanded="false" aria-controls="collapse_utilizacion">

					<i class="fa fa-fw fa-child"></i> UTILIZACIÓN 
	        
				</a>
	      
			</h4>
	    
	    </div>

	    <div id="collapse_utilizacion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_utilizacion">

	    	<div class="panel-body row">

		        <div class="col-md-6 col-lg-4">

		        	<div class="mini_gap"></div>

					<img class="full_width" src="images/POLI/UTILIZACION-full.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		    		<div class="mini_gap"></div>

		    		<p>
		    			Nuestro querido <strong>Poli</strong> es utilizado semanalmente por cientos de personas que lo visitan para entrenar, ejercitarse, recrearse y socializar. Se ha convertido en un verdadero punto de encuentro para muchas personas quienes marcan sus agendas de acuerdo a sus eventos semanales.
		    		</p>

		    		<p>
		    			El parque Polideportivo Aranjuez además da a sustento a muchas personas que se benefician tanto del trabajo formal de administración y mantenimiento, como del trabajo informal que generan la cantidad de entrenamientos, eventos deportivos y recreativos que ahí se realizan.
		    		</p>

				</div>
	    	
	      </div>

	    </div>

	  </div>

	  <div class="panel panel-default">

	    <div class="panel-heading" role="tab" id="heading_distrito">

			<h4 class="panel-title">
				
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_ElPoli" href="#collapse_distrito" aria-expanded="false" aria-controls="collapse_distrito">

					<i class="fa fa-fw fa-map"></i> DISTRITO CARMEN 
	        
				</a>
	      
			</h4>
	    
	    </div>

	    <div id="collapse_distrito" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_distrito">

	    	<div class="panel-body row">

		        <div class="col-md-6 col-lg-4">

		        	<div class="mini_gap"></div>

					<img class="full_width" src="images/POLI/DIST-full.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		    		<div class="mini_gap"></div>

		    		<p>
		    			    EL POLI beneficia a toda una población EL DISTRITO CARMEN
		    		</p>

		    		<p>
		    			El Distrito Carmen, del Cantón Central de San José, constituido por los Barrios Aranjuez, Amón, Escalante y Otoya, se ha transformado de uso residencial a mixto con servicios médicos, turísticos, educativos, comerciales e institucionales. El Distrito Carmen es visitado diariamente por una comunidad heterogénea y flotante que utiliza sus múltiples ofertas.
		    		</p>

		    		<p>
		    			En los últimos años la MSJ ha impulsado políticas de repoblamiento de los barrios del Cantón Central por lo que el Polideportivo Aranjuez viene a ocupar un puesto importante en esta estrategia de rescate de los barrios de la capital. Todas las personas que viven, estudian, visitan o trabajan en el Distrito Carmen pueden beneficiarse de los programas y proyectos de este espacio de unión y recreación.
		    		</p>

				</div>
	    	
	      </div>

	    </div>

	  </div>

</div>