


<div class="panel-group" id="accordion_QuienesSomos" role="tablist" aria-multiselectable="true">

	<div class="panel panel-default">

		<div class="panel-heading" role="tab" id="heading_nuestraPag">

			<h4 class="panel-title">

				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_QuienesSomos" href="#collapse_nuestraPag" aria-expanded="false" aria-controls="collapse_nuestraPag">

					<i class="fa fa-fw fa-fw fa-cog"></i> EL SITIO WEB

				</a>

			</h4>

		</div>

		<!-- para que abra abierta hay que agregarle acá la clase "in" -->
	    <div id="collapse_nuestraPag" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_nuestraPag">

		    <div class="row panel-body">

		        <div class="col-md-6 col-lg-4">

					<img class="centered_80" src="images/QS/COMUNICACION-full.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		        	<div class="mini_gap"></div>

					<p>
						Este sitio Web ha sido elaborado y es administrado por la Comisión de Comunicación de la Asociación Parque Polideportivo Aranjuez (APPA) con el fin de contarles a todos los que visitan el “Poli” acerca de:</p>

					<p>
						Los eventos y los programas que ahí se realizan, los amigos y organizaciones que lo utilizan, la historia de cómo se ha levantado, las necesidades y proyectos a corto, mediano y largo plazo..</p>

					<p>
						Cualquier consulta, sugerencia, aporte o comentario podés enviarlo a:</p>

					<h5>info@polideportivoaranjuez.org</h5>

				</div>

		    </div>

	    </div>

	</div>

	<div class="panel panel-default">

	    <div class="panel-heading" role="tab" id="heading_laAsociacion">

			<h4 class="panel-title">
				
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_QuienesSomos" href="#collapse_laAsociacion" aria-expanded="false" aria-controls="collapse_laAsociacion">

					<i class="fa fa-fw fa-male"></i> LA ASOCIACIÓN
	        
				</a>
	      
			</h4>
	    
	    </div>

	    <div id="collapse_laAsociacion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_laAsociacion">

	    	<div class="panel-body row">

		        <div class="col-md-6 col-lg-4">

		        	<div class="mini_gap"></div>

					<img class="centered_70" src="images/QS/LASOC.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		    		<div class="mini_gap"></div>

		    		<p>
		    			La Asociación Parque Polideportivo Aranjuez, es una organización sin fines de lucro, fundada el 23 de mayo de 1997 por un grupo de vecinos de Barrio Aranjuez. Su finalidad es promover programas y proyectos deportivos, culturales y ambientales en el Parque Polideportivo Aranjuez y zonas aledañas.
		    		</p>

		    		<p>
		    			Durante 18 años de trabajo, la Asociación Parque Polideportivo Aranjuez ha conseguido donaciones de la empresa privada, de la Municipalidad de San José, de la Asamblea Legislativa, y del Ministerio de Obras Públicas y Transportes logrando concretar mejoras importantes para el parque y la comunidad. 
		    		</p>

				</div>
	    	
	      </div>

	    </div>

	  </div>

	  <div class="panel panel-default">

	    <div class="panel-heading" role="tab" id="heading_juntaDir">

			<h4 class="panel-title">
				
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_QuienesSomos" href="#collapse_juntaDir" aria-expanded="false" aria-controls="collapse_juntaDir">

					<i class="fa fa-fw fa-users"></i> JUNTA DIRECTIVA 
	        
				</a>
	      
			</h4>
	    
	    </div>

	    <div id="collapse_juntaDir" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_juntaDir">

	    	<div class="panel-body row">

		        <div class="col-md-6 col-lg-4">

		    		<div class="mini_gap"></div>

					<img class="full_width" src="images/QS/JUNTA-full.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		    		<div class="mini_gap"></div>

		    		<p>
		    			La Asociación Parque Polideportivo Aranjuez cuenta con una Junta Directiva de cinco miembros ad-honorem y varias Comisiones de Apoyo formadas por personas voluntarias amigas de cada proyecto o programa que la Asociación impulsa. </p>

		    		<p>La actual Junta Directiva está formada por los siguientes miembros:</p>

		    		<ul class="fa-ul"> 

		    			<li><i class="fa-li fa fa-caret-right"></i>Beatriz Fernández de Hütt<small>- PRESIDENTE</small></li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Cecilia Bolaños Arquín<small>- VICEPRESIDENTE</small></li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Silvia Caballero Campos<small>- SECRETARIA</small></li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Carlos Coronado Faith<small>- TESORERO</small></li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Fernando Chacón Soto<small>- VOCAL</small></li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Ana Cristina Moya Bedoya<small>- FISCAL</small></li>

		    		</ul>

				</div>
	    	
	      </div>

	    </div>

	  </div>

	  <div class="panel panel-default">

	    <div class="panel-heading" role="tab" id="heading_patrocinadores">

			<h4 class="panel-title">
				
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_QuienesSomos" href="#collapse_patrocinadores" aria-expanded="false" aria-controls="collapse_patrocinadores">

					<i class="fa fa-fw fa-thumbs-up"></i> PATROCINADORES 
	        
				</a>
	      
			</h4>
	    
	    </div>

	    <div id="collapse_patrocinadores" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_patrocinadores">

	    	<div class="panel-body row">

		        <div class="col-md-6 col-lg-4">

		        	<div class="mini_gap"></div>

					<img class="full_width" src="images/QS/PATROC-full.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		    		<div class="mini_gap"></div>

		    		<p>
		    			La Asociación Parque Polideportivo Aranjuez ha conformado la <strong>COMISIÓN DE EMPRESARIOS DISTRITO CARMEN</strong> con aquellos empresarios que adquieren el compromiso de colaborar con recursos e ideas en forma periódica. Sus aportes son invaluables pues le dan sostenibilidad a lo que la APPA realiza y merecen todo agradecimiento. 
		    		</p>

		    		<p>
		    			El parque Polideportivo Aranjuez además da a sustento a muchas personas que se benefician tanto del trabajo formal de administración y mantenimiento, como del trabajo informal que generan la cantidad de entrenamientos, eventos deportivos y recreativos que ahí se realizan.
		    		</p>


		    		<ul class="fa-ul"> 

		    			<li><i class="fa-li fa fa-caret-right"></i>Distribuidora Tres Ases S.A</li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Holst y Van Patten S. A.</li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Hotel Aranjuez</li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Melodía Importacionas S.A</li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Universidad Hispanoamericana</li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Yoga en la Feria</li>

		    			<li><i class="fa-li fa fa-caret-right"></i>Dr. Mario Coto</li>

		    		</ul>

				</div>
	    	
	      </div>

	    </div>

	  </div>

	  <div class="panel panel-default">

	    <div class="panel-heading" role="tab" id="heading_voluntarios">

			<h4 class="panel-title">
				
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_QuienesSomos" href="#collapse_voluntarios" aria-expanded="false" aria-controls="collapse_voluntarios">

					<i class="fa fa-fw fa-map"></i> DISTRITO CARMEN 
	        
				</a>
	      
			</h4>
	    
	    </div>

	    <div id="collapse_voluntarios" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_voluntarios">

	    	<div class="panel-body row">

		        <div class="col-md-6 col-lg-4">

		        	<div class="mini_gap"></div>

					<img class="full_width" src="images/POLI/DIST-full.png">

				</div>

		        <div class="col-md-6 col-lg-8">

		    		<div class="mini_gap"></div>

		    		<p>
		    			    EL POLI beneficia a toda una población EL DISTRITO CARMEN
		    		</p>

		    		<p>
		    			El Distrito Carmen, del Cantón Central de San José, constituido por los Barrios Aranjuez, Amón, Escalante y Otoya, se ha transformado de uso residencial a mixto con servicios médicos, turísticos, educativos, comerciales e institucionales. El Distrito Carmen es visitado diariamente por una comunidad heterogénea y flotante que utiliza sus múltiples ofertas.
		    		</p>

		    		<p>
		    			En los últimos años la MSJ ha impulsado políticas de repoblamiento de los barrios del Cantón Central por lo que el Polideportivo Aranjuez viene a ocupar un puesto importante en esta estrategia de rescate de los barrios de la capital. Todas las personas que viven, estudian, visitan o trabajan en el Distrito Carmen pueden beneficiarse de los programas y proyectos de este espacio de unión y recreación.
		    		</p>

				</div>
	    	
	      </div>

	    </div>

	  </div>

</div>